<table id="form">
  <tr>
    <td>Id:</td>
    <td><input type="text" class="personDetail"/></td>
  </tr>

  <tr>
    <td>First Name:</td>
    <td><input type="text" class="personDetail"/></td>
  </tr>

  <tr>
    <td>Last Name:</td>
    <td><input type="text" class="personDetail"/></td>
  </tr>

  <tr>
    <td>E-Mail Id:</td>
    <td><input type="text" class="personDetail"/></td>
  </tr>

  <tr>
    <td>Birth Date:</td>
    <td><input type="text" class="personDetail"/></td>
  </tr>

  <tr>
    <td>
      <button id="reset">Reset</button>
    </td>
    <td>
      <button id="submit">Submit</button>
    </td>
  </tr>
</table>
<div id="result"></div>
