<div id="personInfo">
  <table id="personInfoTable">
    <tr>
      <td>Id:</td>
      <td><input id="id" type="number" disabled /></td>
    </tr>
  
    <tr>
      <td>First Name:</td>
      <td><input id="firstName" type="text" /></td>
    </tr>
  
    <tr>
      <td>Last Name:</td>
      <td><input id="lastName" type="text" /></td>
    </tr>
  
    <tr>
      <td>E-Mail Id:</td>
      <td><input id="email" type="email" /></td>
    </tr>
  
    <tr>
      <td>Birth Date:</td>
      <td><input id="birthDate" type="text" /></td>
    </tr>
  
    <tr>
      <td>
        <input id="resetElement" type="reset" />
      </td>
      <td>
        <input id="submitElement" type="submit" />
      </td>
    </tr>
  </table>
</div>
